.cus__category-page{
      margin-top: 60px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
}
.cus__category-page__content{
      padding: 12px 12px;
}
.cus__page__action{
      display: flex;
      flex-direction: row;
      align-items: center;
}
.cus__page__action > div{
      margin-top: -12px;
      margin-left: 30px;
      width: 300px;
}
.table-wrapper{
      padding: 10px 0px;
}
/* Mobile */
@media only screen and (max-width: 1023px){
      .cus__category-page{
            width: 100%;
      }
      .cus__category-page__content{
            width: 100% !important;
            padding: 12px 6px;
      }
      .cus-tb__header{
            font-size: 12px !important;
      }
      .cus-btn__box{
            display: flex;
            flex-direction: column;
      }
      .cus-btn__box button{
            margin-left: 0px !important;
            margin-top: 6px;
      }
}